body{
    background-color: lightblue;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 800px;
}
.img1{
    width: 500px;
}
h1{
    color: yellow;
    background-image: url(jpg.jpg);
    background-size: 40px;
    opacity: 0.8;
    border-style: inset;
    border-color: white;
    border-width: thick;
}
h2{
    color: red;
    border-style: double;
    border-color: greenyellow;
    border-width: thick;
}
p{
    color: yellow;
    background-color: pink;
    opacity: 0.8;
    border: 2px solid red;
    border-radius: 5px;
}
.p2{
    color: seagreen;
    font-size: 22px;
    background-color: blue;
}
.p1{
    color: darkred;
    font-style: italic;
    font-weight: bold;
    background-color: yellow;
}
h3{
    color: yellow;
    background-color: green;
}
.p3{
    color: greenyellow;
    background-color: orange;
}
table{
    color: orange;
    font-size: 20px;
    background-color: purple;
    width: 70%;
}
li{
    font-size: 20px;

}
li:hover{background-color: red;}
table,th,td{
    border:2px solid yellow;
}
th{
    height: 50px;
}
td{
    text-align: center;
}
tr:hover{background-color: greenyellow;}